# Ignore node_modules in the backend
node_modules/

# Ignore .env file for sensitive information (backend)
.env

# Ignore log files
*.log

# Ignore any build or dist folders if applicable
/build/
/dist/
